@model MultiplayerSnakeGame.ViewModels.GameInfo

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Snake Game</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    <script>
        const gameId = "@Model.Id";
    </script>
</head>

<body>
    <div class="flex-center">
        <div class="game-container">
            <canvas id="game" width="500" height="500"></canvas>
            
            <p class="controllers-info">
                Controllers: <strong>w</strong>, <strong>a</strong>, <strong>s</strong>, <strong>d</strong>
            </p>
            
        </div>
        

        <div class="info-container">
            <table id="score">
                <thead>
                <tr>
                    <th colspan="2">
                        Scores
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div class="game-over">
        <span class="game-over-text"></span>
    </div>

    <script src="~/node_modules/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Keyboard.js"></script>
    <script src="~/js/Background.js"></script>
    <script src="~/js/Fruit.js"></script>
    <script src="~/js/Snake.js"></script>
    <script src="~/js/Index.js"></script>
</body>

</html>